.Form__grid {
  $spacing: 1rem;
  display: flex;
  flex-flow: row wrap;
  margin-left: -$spacing / 2;
  margin-right: -$spacing / 2;
  margin-bottom: 1.5rem;

  .Form__input {
    flex-grow: 0;
    flex-basis: calc(100% - #{$spacing});
    margin: $spacing / 2;
    input,
    textarea {
      width: 100%;
    }
  }

  .Form__actions {
    flex-basis: calc(100% - #{$spacing});
    margin: $spacing * 2 $spacing / 2;
    display: flex;
    .push-right {
      margin-left: auto;
    }
  }

  .Grid-medium-1-2 {
    @include tablet {
      flex-basis: calc(50% - #{$spacing});
    }
  }

  .Grid-medium-1-3 {
    @include tablet {
      flex-basis: calc(33.333% - #{$spacing});
    }
  }

  .Grid-medium-2-3 {
    @include tablet {
      flex-basis: calc(66.666% - #{$spacing});
    }
  }
}
