{% extends "base.twig" %}
{% set dataView = '404' %}

{% block content %}
  <div class="Main">
    <div class="Page__content Layout--A">
      <div class="Container Layout__content">
        <div class="Main__header">
          <h1>Page not found</h1>
        </div>
        <div class="Main__content">
          <p>It looks like nothing was found at this location.
            <a href="/">Click here</a>
            to navigate back to the homepage.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
