{% import 'parts/nav/menu.twig' as menu %}
{% import 'parts/nav/menu-mobile.twig' as menuMobile %}

<div class="Header">
  <div class="Header__primary u-show--fromDesktop">
    <div class="Header__brand">
      <a href="{{ site.url }}">
        <svg viewbox='0 0 205 60'>
          <use xlink:href='#logo'></use>
        </svg>
      </a>
    </div>
    <div class="Header__nav">
      <nav class="Nav Nav--main">
        {{ menu.embedded_list( nav.main.items ) }}
      </nav>
    </div>
    <div class="Header__utilities">
      <a class="Button" href="/sign-up-for-vrs">Sign up for Relay</a>
      <a class="Button" href="https://www.scis.com/countries" target="_blank">Get an interpreter</a>
    </div>

  </div>
	<div class="Header__mobile u-show--untilDesktop" data-component="MobileNav" data-identifier="mobileNav">
    <div class="Header__mobile__nav">
      <div class="Header__brand">
        <a href="{{ site.url }}">
          <svg viewbox='0 0 205 60'>
            <use xlink:href='#logo'></use>
          </svg>
        </a>
      </div>
      <button class="toggle-mobile" data-action="{ type: 'toggle', target: 'mobileNav' }">
        {# <svg class='icon' height='1em' viewbox='0 0 20 20' width='1em'>
          <use xlink:href='#menu'></use>
        </svg> #}
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="NavMobile--main" data-component="Accordion">
      {{ menuMobile.embedded_list( nav.main.items ) }}
    </div>
	</div>
</div>