{% extends "base.twig" %}
{% set namespace = 'page' %}

{% block content %}

  <main class="Main">
    <div class="Main__content">
      
      {{ post.content | raw }}      
      
    </div>
  </main>
{% endblock %}
